# week-3 - Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

In [1]:
#Jakkamma # importing libraries
import pandas as pd
import numpy as np

In [2]:
# Getting data from wikipedia page through pandas read_html method
toranto_list = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', attrs={'class':'wikitable sortable'},header=0)

In [3]:
#getting output as list
type(toranto_list)

list

In [4]:
#Inside list we will have dataframe
toranto_df = toranto_list[0]

In [5]:
#Checking type of dataframe
type(toranto_df)

pandas.core.frame.DataFrame

In [6]:
#Checking top 5 values
toranto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [47]:
#shape of dataframe
toranto_df.shape

(211, 3)

#### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [8]:
#drop Borough which has "Not assigned"
toranto_df = toranto_df[toranto_df["Borough"] != "Not assigned"]

In [9]:
#To reset index
toranto_df = toranto_df.set_index("Postcode")
toranto_df.head()

                   Borough     Neighbourhood
Postcode
M3A             North York         Parkwoods
M4A             North York  Victoria Village
M5A       Downtown Toronto      Harbourfront
M5A       Downtown Toronto       Regent Park
M6A             North York  Lawrence Heights

In [10]:
toranto_df.reset_index(inplace=True)

In [48]:
toranto_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [11]:
#after dropping rows, checking shape
toranto_df.shape

(211, 3)

#### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [37]:
postcode_list = []
borough_list = []
neighbourhood_list = []

for postcode,borough,neighbourhood in zip(toranto_df["Postcode"],toranto_df["Borough"],toranto_df["Neighbourhood"]):
    #print(postcode,borough,neighbourhood)
    #print(postcode_list)
        
    if postcode in postcode_list:
        
        index = postcode_list.index(postcode) 
        #print(index)
        existing_neighboorhood = neighbourhood_list[index]
        new_str = existing_neighboorhood + ',' + neighbourhood
        neighbourhood_list[index] = new_str
        
     
    else:
        #print(postcode)
        postcode_list.append(postcode)
        #print(postcode_list)
        borough_list.append(borough)
        neighbourhood_list.append(neighbourhood)
        
        
#print(postcode_list)
#print(borough_list)
#print(neighbourhood_list)

In [38]:
# verifying neighborhood added in an appropriate row
print(postcode_list[28])
print(borough_list[28])
print(neighbourhood_list[28])

M3H
North York
Bathurst Manor,Downsview North,Wilson Heights

In [39]:
for borough,neighbourhood in zip(neighbourhood_list,borough_list):
    if neighbourhood == 'Not assigned':
        neighbourhood = borough
    else:
        neighbourhood = neighbourhood

In [41]:
toranto_df.shape

(211, 3)

In [43]:
toranto_df_new = pd.DataFrame({'Postcode':postcode_list,'borough':borough_list,'neighbourhood':neighbourhood_list})

In [44]:
toranto_df_new.head()

  Postcode           borough                    neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [46]:
toranto_df_new.shape

(103, 3)